<div style="position: relative;"> 
    <img class="weather-img" src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" alt="">
    <img class="weather-img2" src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" alt="">
    <div class="weather-today" [style.background-color]="weather.color">
        <div> <h2 class="title">{{weather.day}}</h2>&nbsp;&nbsp;<h2 class = "date">12/4</h2></div>
    

        <h4 class="temp">{{weather.main.temp}}°</h4>
        <div class="temp-range"><h5>{{weather.main.temp_min}}°</h5>&nbsp;&nbsp;<h5>{{weather.main.temp_max}}°</h5></div>
    </div>
</div>