*
{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body
{
    overflow: hidden;
    background-color: rgb(236, 236, 236);
    margin: 0px;
}

.flex
{
    display: flex;
}

.info-group
{
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.shadow
{
    -webkit-box-shadow: 0px 10px 24px -13px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 10px 24px -13px rgba(0,0,0,0.54);
    box-shadow: 0px 10px 24px -13px rgba(0,0,0,0.54);
}

a
{
    color: inherit;
    text-decoration: none;
}

.center
{
    text-align: center;
}

/* Outline Hover */
.w-highlight:hover
{
    filter: brightness(1.15);
    transform: scale(1.1);
    border: 3px solid white;
}

.w-highlight:hover > .background
{
    display: inherit;
}

.background
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.background img:first-of-type
{
    position: absolute;
    bottom: 20px;
    right: 10px;
    opacity: 0.35;
    z-index: 0;
    animation-iteration-count: infinite;
    animation-name: img2-animation;
    animation-duration: 3.2s;
}

.background img:last-of-type
{
    position: absolute;
    top: -18px;
    right: 10px;
    opacity: 0.35;
    z-index: 0;
    animation-iteration-count: infinite;
    animation-name: img1-animation;
    animation-duration: 3.2s;
}


/* Animations */
@keyframes img1-animation
{
    0%   { right:20%;}
    75%  { right:150%;}
    75.01% { right:-50%;}
    100% { right:20%;}
}

@keyframes img2-animation
{
    0%   { right:60%;}
    65%  { right:210%;}
    65.01% { right:-50%;}
    100% { right:60%;}
}


